---
const { title } = Astro.props;
import rawStylesCSS from '../css/type.css?raw';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preload" href="/fonts/scifi-knights-webfont.woff2" as="font" type="font/woff2" crossorigin />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <style is:inline set:html={rawStylesCSS}></style>
    <title>{title}</title>
</head>