---
const { title } = Astro.props;
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preload" href="/fonts/scifi-knights-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <title>{title}</title>
    <script>
        // Define a FontFace
        const font = new FontFace("scifiknights", "url(/fonts/scifi-knights-webfont.woff2)");

        // Add to the document.fonts (FontFaceSet)
        document.fonts.add(font);

        // Load the font
        font.load();

        // Wait until the fonts are all loaded
        document.fonts.ready.then(() => {
            document.body.classList.remove('waiting-for-fonts');
        });
    </script>
</head>